html {

    height: 100vh;
    width: 100vw;
    background-color: aliceblue;

    

}


body {
    color: white;
    font-size: 20;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.titlebar {

    margin-bottom: 10vh;

}

.titlebar nav {
    position: fixed;
    left: 0;
    top:0;
    width: 100vw;  
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(61, 113, 255);
}

ul{

    margin:0;
    padding: 0;

}

li {
    list-style-type: none;
}

.titlebar nav ul li a{
display: block;
text-align: center;
padding: 1vw 1vw;
font-size: 150%;

text-align: center;

transition: background-color 0.3s ease-in-out;
}

.titlebar nav ul li:hover {

background-color: rgb(80, 115, 211);


}


.right {

    float: right;
}

.left {

    float: left;
}

.login {
  display: grid;
  text-align:center;
  padding: 0vw 20vh;
  justify-content: center;

}

.login h2
{
    color: black;
}

.login h1
{
    color: black;
}

.login input {
    font-size: 130%;
    padding: 0vw 5vh;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 35px;
    width: 350px;

}


.login input[type="submit"]{


    background: blue;

}
