html {

    height: 100vh;
    width: 100vw;
    background-color: aliceblue;

    

}


body {
    color: white;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.titlebar {
    font-size: 150%;
    margin-bottom: 10vh;

}

.titlebar nav {
    position: fixed;
    left: 0;
    top:0;
    width: 100%;  
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(61, 113, 255);
        height: 60px;
    z-index: 1000;
}

ul{

    margin: 0;
    padding: 0;

}

li {
      list-style-type: none;
    display: inline-block; 
}

.titlebar nav ul li a{
display: block;
text-align: center;
padding: 1vw 1vh;
text-decoration: none;
text-align: center;

transition: background-color 0.3s ease-in-out;
}

a:visited {
  color: inherit;
  text-decoration: none; 
}

.titlebar nav ul li:hover {

background-color: rgb(80, 115, 211);


}


.right {

    float: right;
}

.left {

    float: left;
}

.login {
  display: block;
  text-align:center;
  padding: 0vh 0vw;
  justify-content: center;

}

.login h2
{
    color: black;
    padding: inherit 1vh;
}

.login h1
{
    margin: 0 auto;
    color: black;
}

.login input {
    font-size: 130%;
    padding: 0vw 5vh;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 35px;
    width: 350px;

}

.login input[type="submit"]{
    display: block;
    background-color: rgb(61, 113, 255);
    color:white;
       margin: 0 auto;
}
.login input[type="submit"]:hover{
    background-color: rgb(51, 93, 207);
    color:white;
}


.register {
  display: block;
  text-align:center;
  padding: 0vw 20vh;
  justify-content: center;

}

.register h2
{
    color: black;
    padding: inherit 1vh;
}

.register h1
{
    color: black;
}

.register input {
    display: block;
    font-size: 130%;
    padding: 0.25vh 0vw;
    margin: 0.25vh auto;
    height: 35px;
    width: 350px;

}

.register input[type="submit"]{
    display: block;
    background-color: rgb(61, 113, 255);
    color:white;
       margin: 0 auto;
}
.register input[type="submit"]:hover{
    background-color: rgb(51, 93, 207);
    color:white;
}

.register textarea {
   font-family:"Times New Roman", Times, serif;  
   font-size: 25px;   
  }

.payment {
    display: block;
    font-size: 130%;
    padding: 0.25vh 0vw;
    margin: 0.25vh auto;
    height: 35px;
    width: 350px;
}

.payment h1 {
    color:rgb(61, 113, 255);
    display: left;


}