html {

    height: 100vh;
    width: 100vw;
    background-color: aliceblue;

    

}


body {
    color: white;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.titlebar {
    font-size: 150%;
    margin-bottom: 10vh;

}

.titlebar nav {
    position: fixed;
    left: 0;
    top:0;
    width: 100%;  
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(61, 113, 255);
        height: 60px;
    z-index: 1000;
}

ul{

    margin: 0;
    padding: 0;

}

li {
      list-style-type: none;
    display: inline-block; 
}

.titlebar nav ul li a{
display: block;
text-align: center;
padding: 1vw 1vh;
text-decoration: none;
text-align: center;

transition: background-color 0.3s ease-in-out;
}

a:visited {
  color: inherit;
  text-decoration: none; 
}

.titlebar nav ul li:hover {

background-color: rgb(80, 115, 211);


}


.right {

    float: right;
}

.left {

    float: left;
}

.login {
  display: block;
  text-align:center;
  padding: 0vh 0vw;
  justify-content: center;

}

.login h2
{
    color: black;
    padding: inherit 1vh;
}

.login h1
{
    margin: 0 auto;
    color: black;
}

.login input {
    font-size: 130%;
    padding: 0vw 5vh;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 35px;
    width: 350px;

}

.login input[type="submit"]{
    display: block;
    background-color: rgb(61, 113, 255);
    color:white;
       margin: 0 auto;
}
.login input[type="submit"]:hover{
    background-color: rgb(51, 93, 207);
    color:white;
}


.register {
  display: block;
  text-align:center;
  padding: 0vw 20vh;
  justify-content: center;

}

.register h2
{
    color: black;
    padding: inherit 1vh;
}

.register h1
{
    color: black;
}

.register input {
    display: block;
    font-size: 130%;
    padding: 0.25vh 0vw;
    margin: 0.25vh auto;
    height: 35px;
    width: 350px;

}

.register input[type="submit"]{
    display: block;
    background-color: rgb(61, 113, 255);
    color:white;
       margin: 0 auto;
}
.register input[type="submit"]:hover{
    background-color: rgb(51, 93, 207);
    color:white;
}

.register textarea {
   font-family:"Times New Roman", Times, serif;  
   font-size: 25px;   
  }

.payment {
    color:rgb(61, 113, 255);
    display: block;
    font-size: 130%;
    padding: 0.25vh 0vw;
    margin: 0.25vh auto;
    height: 35px;
    width: 350px;
}

.payment h1 {
    display: left;
}   
.car {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    padding: 20px;
    
    color: rgb(61, 113, 255);
}

.car h1{
    width: 100%;
    margin: 0 auto;
    text-align: center;

}


.car-card {
    background-color:  rgb(59, 95, 196);
    display: flex;
    padding: 20px;
    flex-direction: column; 
    margin: 10px;
    color: rgb(255, 255, 255);

}

.car-card input {
   
    font-size: 100%;

}


.button-row{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.btn{
    width: 150px;
    padding: 8px 0;
    text-align: center;
}   
.login {
    width: 50%;
    margin: 0 auto;
    text-align: center
}

.cost-box-visible {
    color: black !important;
    visibility: visible;
}

.cost-box-hidden  {
    color: red;
    visibility: hidden;
}

.payment form{
    padding-top: 1px;
    margin-top: 0px;
    background-color:  rgb(59, 95, 196);
    color:white;
}

.payment h1{
    background-color: inherit;
text-align: center;
margin-bottom: 10px;
    color: rgb(14, 26, 59);
}

.payment input[type="submit"]{
    display: block;
    background-color: rgb(61, 113, 255);
    color:white;
    font-size: 100%;
    padding: 0.25vh 0vw;
    margin: 0.25vh auto;
    height: 35px;
    width: 350px;
}

.payment h2{
    display: block;
    margin: 3px auto;
    text-align:center;
    color: rgb(23, 39, 82);
}

.payment input[type="submit"]:hover{
    background-color: rgb(51, 93, 207);
    color:white;
}
